<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>About</title>
</head>
<body>

    <div class="space">
    <a class="text" href="/"> Home </a> 
    <a class="text" href="/signin"> Sign In </a>
    <a class="text" href="/signup"> Sign Up </a>
    </div>
    
    <h2 class="home"> About </h2>

    <p>Inventory management refers to the process of ordering, storing, using, and selling a company's inventory. 
        This includes the management of raw materials, components, and finished products, as well as warehousing and processing of such items.
        Effective inventory management enables businesses to balance the amount of inventory they have coming in and going out. The better a business
        controls its inventory, the more money it can save in business operations.

        A business that has too much stock has overstock. Overstocked businesses have money tied up in inventory, limiting cash flow and potentially
        creating a budget deficit. This overstocked inventory, which is also called dead stock, will often sit in storage, unable to be sold, and eat 
        into a business's profit margin.</p>

</body>
</html>
